<h1>About ProMag</h1>
    <p>ProMag is a new project management software. ProMag allows users to create projects and tasks related to that project.  Try it now by <%= link_to "signing up", signup_path %>!
.</p>